/.fxpTemp/
/.metadata/
/CocoonAccelerometer-0.8/
/CocoonDiscovery-0.8/
/CocoonDiscoveryMobile/
/CocoonFileSharing/
/CocoonMessaging-0.8/
/ShareSlidesClient/bin-debug/
/ShareSlidesMobile/
/ShareSlidesMobileAS/bin-debug/